*{
    margin: 0;
    padding: 0;
}

.price{
    font-size: 17px;
    color: #e8873c;
    text-align: center;
}
.name{
    font-size: 13px;

}
.card img{
    height: 250px;

}

.btn1{
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    color: white;
    background: #611ae2;
}
.btn1:hover{
    background: #5d15a1;
    transition: 0.5s;
}

