<div class="container-fluid py-5">
  <div class="row ">
    <div class="col-md-2 col-2 col-lg-2 col-sm-2 ">
      <nav class="category">
        <h3 class="category-headig"><i class="fa fa-list category-headig-icon"></i> Danh Mục</h3>
        <ul class="category-list">
          <li class="category-item category-item-active">
            <a href="" class="category-item_link">Khoa Học</a>
          </li>
          <li class="category-item">
            <a href="" class="category-item_link">Công Nghệ</a>
          </li>
          <li class="category-item">
            <a href="" class="category-item_link">Ẩm Thực</a>
          </li>
          <li class="category-item">
            <a href="" class="category-item_link">Sách Giáo Khoa</a>
          </li>
          <li class="category-item">
            <a   href="" (click)="checkLogin()" class="category-item_link">Quản Lý Sách</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-10">
      <div class="home-filter d-flex justify-content-between">
        <div class="d-flex justify-content-between">

          <button type="button" class="btn btn-outline-primary me-2">Phổ Biến</button>
          <button type="button" class="btn btn-outline-primary me-2 ">Mới Nhất</button>
          <button type="button" class="btn btn-outline-primary me-2">Bán Chạy</button>
          <div class="form-group me-2">
            <select class="form-control" name="" id="">
              <option>--Giá--</option>
              <option>Ưu Đãi</option>
              <option>Khuyến Mại</option>
              <option>Mã Giảm Giá</option>
            </select>
          </div>

        </div>
        <div class="paginate d-flex justify-content-between">

            <div class="input-group">
              <a class="input-group-text"><i class="fa-solid fa-book-bookmark"></i></a>
              <input readonly type="text" class="form-control" placeholder="Tìm Kiếm">
            </div>

        </div>
      </div>
      <div class="home-product">
        <div class="row">
          <div class="col-3 mt-2">
            <div class="card">
              <img class="card-img-top" src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_230367.jpg" alt="">
              <div class="card-body">
                <p class="product-item-name">
                  Tư Duy Nhanh Và Chậm (Tái Bản 2021)
                </p>
                <div class="product-price ">
                  <span class="price-old">600.000đ</span>
                  <span class="price-curent">250.000đ</span>
                </div>
                <div class="product-action d-flex justify-content-between">
                  <span class="product-heart change-icon">
                    <i class="far fa-heart icon-empty"></i>
                    <i class="fas fa-heart icon-fill"></i>
                  </span>
                  <div class="product-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-3 mt-2">
            <div class="card">
              <img class="card-img-top" src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_230367.jpg" alt="">
              <div class="card-body">
                <p class="product-item-name">
                  Tư Duy Nhanh Và Chậm (Tái Bản 2021)
                </p>
                <div class="product-price ">
                  <span class="price-old">600.000đ</span>
                  <span class="price-curent">250.000đ</span>
                </div>
                <div class="product-action d-flex justify-content-between">
                  <span class="product-heart change-icon">
                    <i class="far fa-heart icon-empty"></i>
                    <i class="fas fa-heart icon-fill"></i>
                  </span>
                  <div class="product-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-3 mt-2">
            <div class="card">
              <img class="card-img-top" src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_230367.jpg" alt="">
              <div class="card-body">
                <p class="product-item-name">
                  Tư Duy Nhanh Và Chậm (Tái Bản 2021)
                </p>
                <div class="product-price ">
                  <span class="price-old">600.000đ</span>
                  <span class="price-curent">250.000đ</span>
                </div>
                <div class="product-action d-flex justify-content-between">
                  <span class="product-heart change-icon">
                    <i class="far fa-heart icon-empty"></i>
                    <i class="fas fa-heart icon-fill"></i>
                  </span>
                  <div class="product-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-3 mt-2">
            <div class="card">
              <img class="card-img-top" src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_230367.jpg" alt="">
              <div class="card-body">
                <p class="product-item-name">
                  Tư Duy Nhanh Và Chậm (Tái Bản 2021)
                </p>
                <div class="product-price ">
                  <span class="price-old">600.000đ</span>
                  <span class="price-curent">250.000đ</span>
                </div>
                <div class="product-action d-flex justify-content-between">
                  <span class="product-heart change-icon">
                    <i class="far fa-heart icon-empty"></i>
                    <i class="fas fa-heart icon-fill"></i>
                  </span>
                  <div class="product-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>

</div>
