
<div class="container-fluid">
<div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-between">
      <div class="col-md-12 col-xs-12 d-flex justify-content-between">
        <div>
          <ul class="header_top-links">
            <li><a href="#">Giới Thiệu</a></li>
            <li><a href="#">Lịch Sử Giao Dịch</a></li>
            <li><a href="#">Kiểm Tra Đơn Hàng</a></li>
<!--            <li><a href="#">google</a></li>-->
          </ul>
        </div>
        <div>
          <ul class="header_top-links d-flex justify-content-between">
            <li *ngIf="!userName"><a routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
            <li *ngIf="userName"><a href=""><i class="fa-solid fa-user-tie"></i> {{userName}}</a></li>
            <li><a href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i> Giỏ Hàng</a></li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar -->

<!-- Nav Main -->
<div class="navbar-main">
  <div class="container-fluid">
    <div class="row right-left">
      <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 right-img">
        <div class="logo">
          <div class="logo-desktop">
            <a href="#"><img src="../../assets/img/LONG%20THANH%20BOOKSTORE.png" alt="company-logo"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 menu-container left-menu">
        <ul class="header-navbar-main">
          <li class="menu-item"><a href="#">Danh Mục Sách </a></li>
          <li class="menu-item"><a href="#">Sách Bán Chạy</a></li>
          <li class="menu-item"><a href="#">Khuyến Mãi</a></li>
          <li class="menu-item"><a href="#">Giá Đặt Biệt</a></li>
<!--          <li class="menu-item"><a href="#">Code Khuyến Mại</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
