<section class="login py-5 bg-light">
  <div class="container">
    <div class="row g-1">
      <div class="col-lg-5">
        <img src="../../assets/img/undraw_notebook_re_id0r.svg" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7 text-center py-5">
        <h1 class="animate__animated animate__tada animate__infinite">Đăng Nhập</h1>
        <form>
          <div class="form-row py-3 pt-5">
            <div class="offset-1 col-lg-10">
              <input type="email" class="inp px-3" placeholder="Email">
            </div>
          </div>
          <div class="form-row py-3 pt-5">
            <div class="offset-1 col-lg-10">
              <input type="password" class="inp px-3" placeholder="Mật khẩu">
            </div>
          </div>
          <div class="form-row py-3 pt-5">
            <div class="offset-1 col-lg-10">
              <button class="btn1">Đăng Nhập</button>
            </div>
          </div>
        </form>
        <p>Đăng Nhập Với</p>
        <span><i class="fab fa-facebook"></i></span>
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-google-plus-square"></i></span>
      </div>
    </div>
  </div>
</section>
